body { background-color:#f3cf8c;}

header{ display: inline-block;  background-color:#AEA489;}

main {color:white; }

#hero { width: 550px; height:500px;}

.lower { display: inline-block;}

li {color:black;}

