body 
{ 
    background-color:#f3cf8c;
}
main 
{
    color:white; 
}
.nav {
    background-color: black;
    text-align:center;
    margin: auto;
    padding:0;
}
.nav li {
    display: inline-block;
    font-size: medium;
    padding:0%;
}
#hero 
{
    max-width: 100%;
    height: auto;
}