body 
{ 
    background-color:#f3cf8c;
}
h1{
    text-align: center;
    color: indigo;
    border: 10px solid black;
    background-color: white;
    opacity: .5;
}
main 
{
    color:black; 
}
.nav {
    background-color: black;
    text-align:center;
    margin: auto;
    padding:0;
}
.nav li {
    display: inline-block;
    max-width: 50%;
    font-size: medium;
    padding:0%;
}
#hero 
{
    display: inline-block;
    max-width: 70%;

}
.line {
    display: inline-block;
    max-width:30%;
    max-height: fit-content;
    border: 3px solid white;
}
.line li {
    color: indigo;
    text-decoration: none;

}
.line img {
    width: 300px;
    height: 300px;
}